.about {
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  align-items: center;
}

.about__container {
  height: calc((var(--vh, 1vh) * 100) - 2rem);
  width: 100%;
  padding-right: 2rem;
  padding-left: 50%;
  padding-top: 30vh;

  /* display: flex;
  flex-direction: column; */

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  margin-right: 2px;
}

.about__container::-webkit-scrollbar {
  display: none;
}

.about__container div {
  margin-bottom: 2rem;
  line-height: var(--line-height);
}

.about__container h2 {
  line-height: 120%;
  margin-bottom: 0.5rem;
}

.about__container p {
  max-width: 40rem;
}

@media only screen and (max-width: 920px) {
  .about__container {
    height: calc((var(--vh, 1vh) * 100) - 14rem);
    margin-top: 4rem;
    /* margin-bottom: 5rem; */
    padding: 2rem;
    padding-top: 30vh;
  }
}

@media only screen and (max-width: 330px) {
  .about__container {
    height: calc((var(--vh, 1vh) * 100) - 16rem);
    margin-top: 6rem;
    padding: 2rem;
    padding-top: 30vh;
  }
}
