.about {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}

.about__container {
  max-height: 100vh;
  width: 100%;
  display: flex;

  margin-right: 2px;
}

.about__container div {
  margin: 1rem;
  line-height: var(--line-height);
}

.about__container > div {
  padding-top: 12rem;
}

.about__container div:nth-child(4) {
  padding-bottom: 3rem;
}

.test {
  padding-left: 30%;
  position: relative;
}

.track-cover {
  position: absolute;

  right: calc(1rem + 1px);
  top: calc(1rem + 1px);
  bottom: calc(1rem + 1px);
  width: 1.99rem;
  background: linear-gradient(var(--cover));

  z-index: 1000;

  transition: background-color 1s ease-in-out;
}

@media only screen and (max-width: 750px) {
  .test {
    padding-left: 0;
    position: relative;
  }

  .about__container {
    margin-bottom: 6rem;
    margin-top: 8rem;
  }
}
@media only screen and (max-width: 500px) {
  .test {
    padding-left: 0;
    position: relative;
  }
}
