.home {
  display: flex;
  align-items: center;
  height: 100vh;
}

.home__container {
  width: 100%;
  height: calc(100vh - 2rem);
  padding: 2rem;

  display: flex;
  justify-content: flex-end;

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.home__container::-webkit-scrollbar {
  display: none;
}

.home p {
  width: 11em;
  font-weight: var(--fw-bold);
  font-size: var(--fs-details);
  line-height: var(--line-height);
}

@media only screen and (max-width: 500px) {
  .home__container {
    justify-content: flex-start;
    height: calc(100vh - 14rem);
  }

  .home p {
    width: 15rem;
  }
}

@media only screen and (min-height: 300px) {
  .home__container {
    /* align-items: flex-end; */
  }
}
