.home {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
  padding: 2rem;
}

.home p {
  width: 10em;
  font-weight: var(--fw-bold);
  font-size: var(--fs-details);
  line-height: var(--line-height);
}

@media only screen and (max-width: 500px) {
  .home {
    padding-bottom: 6rem;
  }
}
