.nav {
  position: fixed;
  bottom: 2rem;
  left: 0;
  width: 30%;
  height: 2rem;
  padding: 0 2rem;

  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;

  z-index: 1000;
}
