.nav {
  position: fixed;
  bottom: 2rem;
  left: 0;
  width: 30%;
  height: 2rem;
  padding: 0 2rem;

  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;

  z-index: 1000;
}

.fa-solid {
  color: var(--foreground);
  cursor: pointer;

  transition: color 1s ease-in-out;
}

@media only screen and (max-width: 920px) {
  .nav {
    left: calc(1rem);
    width: calc(100% - 2rem - 1px);
    height: 4rem;
    padding: 0 2rem;
    bottom: 1rem;
    font-size: var(--fs-body);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border-top: 1px solid var(--foreground); */

    z-index: 1000;
  }

  .nav::before {
    content: '';
    position: absolute;
    top: 0;
    right: 2rem;
    left: 2rem;
    height: 1px;
    background-color: var(--foreground);
  }
}

@media only screen and (max-width: 600px) {
  .nav {
    left: calc(1rem);
    width: calc(100% - 2rem - 1px);
    height: 4rem;
    padding: 0 2rem;
    bottom: 1rem;
    font-size: var(--fs-body);

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-top: 1px solid var(--foreground); */

    z-index: 1000;
  }

  .nav::before {
    content: '';
    position: absolute;
    top: 0;
    right: 2rem;
    left: 2rem;
    height: 1px;
    background-color: var(--foreground);
  }
}

@media only screen and (max-width: 330px) {
  .nav {
    padding: 0 1rem;
  }
}
