.projects {
  padding: 2rem;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.project {
  display: flex;
  align-items: flex-end;
  margin: 1rem;
}

.stack {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid var(--foreground);

  transition: border-left 1s ease-in-out;
}

.project a h1:hover {
  color: gray;
  transition: color 300ms ease-in-out;
}
