* {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Inter', sans-serif;
  --ff-sec: 'Raleway', sans-serif;

  --fw-thin: 100;
  --fw-reg: 400;
  --fw-bold: 700;

  --fs-h1: 4rem;
  --fs-h2: 2rem;
  --fs-h3: 1.6rem;
  --fs-body: 1rem;
  --fs-details: 1rem;

  --clr-light: #e9e9e9;
  --clr-dark: #1a1c1e;
  --clr-dark-2: #2d2f34;
  --clr-accent: #68d000;
  --clr-shadow: #00000044;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);

  --line-height: 1.6;
}

.darkmode {
  --clr-dark: #1a1c1e;
  --clr-light: #e9e9e9;
  --clr-accent: #68d000;
  --clr-shadow: #68d00092;

  --foreground: var(--clr-light);
  --background: var(--clr-dark);
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-thin);
}
h2 {
  font-size: var(--fs-h2);
}
p {
  font-size: var(--fs-body);
  font-weight: var(--fw-bold);
}

a {
  color: var(--foreground);
  text-decoration: none;
  font-weight: var(--fw-bold);
  transition: color 500ms;
}

a:hover {
  color: gray;
}

h1,
h2,
h3,
p,
a {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--ff-sec);
  line-height: var(--line-height-2);
  min-height: 100vh;

  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.profile {
  position: fixed;
  width: 100%;
  height: 100%;
  border: 1rem solid var(--background);

  z-index: -1;
}

.frame {
  border: 1px solid var(--foreground);
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.frame p {
  font-size: var(--fs-details);
  font-weight: var(--fw-bold);
}

.fake-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1rem;

  background-color: #e9e9e9aa;
}

.fake-top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 1rem;

  background-color: #e9e9e9aa;
}
